* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1d1d1d;
  color: white;
}

.page h1 {
  padding: 10px;
  text-align: center;
}

.users-section {
  padding: 10px;
  text-align: center;
  h2 {
    margin-block: 10px;
  }

  main {
    display: flex;
  }
}

.users-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.users-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;

  div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.user-card {
  gap: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;

  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 12px;
  }
}

button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: #555;
    scale: 1.05;
  }
}
